<div class="row">
  <div class="col-md-12 no-padding">
    <div class="card custom-card">
      <div class="card-body card-content">
        <h5 class="card-title">Create New User</h5>
        <form #userForm="ngForm" (ngSubmit)="createUser()" novalidate>
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" [(ngModel)]="newUser.first_name" name="firstName" required>
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" [(ngModel)]="newUser.last_name" name="lastName" required>
          </div>
          <div class="form-group">
            <label>Class:</label>
            <input type="text" class="form-control" [(ngModel)]="newUser.class" name="userClass" required>
          </div>
          <div class="form-group">
            <label>Sec:</label>
            <input type="text" class="form-control" [(ngModel)]="newUser.sec" name="sec" required>
          </div>
          <div class="form-group">
            <label>Age:</label>
            <input type="number" class="form-control" [(ngModel)]="newUser.age" name="age" required>
          </div>
          <div class="form-group">
            <label>Location:</label>
            <input type="text" class="form-control" [(ngModel)]="newUser.location" name="location" required>
          </div>
          <br>
          <button class="btn btn-primary" [disabled]="userForm.invalid">Create User</button>
        </form>
      </div>
    </div>
  </div>
</div>
